<header>
  <nav class="bg-[#dbe3eb] border-gray-400 border-b px-4 lg:px-6 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <div class="flex lg:hidden">
        <button
          class="text-white bg-[#f1f1f1] hover:bg-[#ffffff] font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-blue-900 dark:hover:bg-blue-800"
          type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation"
          aria-controls="drawer-navigation">
          <menu-icon></menu-icon>
        </button>
      </div>

      <a class="flex items-center cursor-pointer" routerLink="/deck-list">
        <img src="assets/icon.ico" class="mr-3 h-6 sm:h-9" alt="Pokédex Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Pokédex</span>
      </a>

      <div class="flex items-center lg:order-2 gap-3">
        <theme></theme>
      </div>

      <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
          <nav-item *ngFor="let item of linkList" [label]="item.label" [link]="item.link"></nav-item>
        </ul>
      </div>
    </div>
  </nav>
</header>

<menu-sidebar>
  <ul class="flex flex-col mt-4 font-medium lg:space-x-8 lg:mt-0">
    <nav-item *ngFor="let item of linkList" [label]="item.label" [link]="item.link"></nav-item>
  </ul>
</menu-sidebar>
