<div class="w-full flex flex-col p-5 max-w-[1440px] mx-auto h-full">
  <div class="mb-5 w-full flex flex-col lg:flex-row gap-3">
    <div class="lg:w-1/2 w-full flex flex-col justify-between">
      <div class="mb-5 flex flex-col sm:flex-row justify-between items-center dark:text-white text-black">
        <h1 class=" mb-2 sm:mb-0 font-medium  text-lg">
          {{ !!id ? 'Edição' : 'Cadastro'}} de Baralho
        </h1>
      </div>

      <div>
        <label for="deck-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Nome do Baralho
        </label>
        <input type="text" id="deck-name" [formControl]="nameField"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          required>
      </div>
    </div>

    <div class="md:w-2/3 lg:w-[40%] xl:w-[35%] w-full self-center">
      <div
        class=" pr-3 pl-4 sm:pl-8 md:pl-10 lg:pl-12 xl:pl-14 py-4 flex flex-col items-center w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col justify-center items-start w-full">
          <h5 class="mb-2 text-base text-gray-900 dark:text-white">
            Informações do Baralho
          </h5>

          <div class="flex flex-col sm:flex-row gap-1 sm:gap-16 md:gap-20 lg:gap-16">
            <div>
              <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">
                <strong>>Cor(s)/Tipo(s) unicos:</strong> {{ deckData.types.length }}
              </p>

              <div class=" text-xs text-gray-700 dark:text-gray-400">
                <p class="text-sm text-gray-700 dark:text-gray-400">
                  <strong>Cor(s)/Tipo(s):</strong>
                </p>

                <ul>
                  <li class="ml-1" *ngFor="let type of deckData.types">- {{ type }}</li>
                </ul>
              </div>
            </div>

            <div>
              <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">
                <strong>Cartas:</strong> {{ deckData.cards.length }}
              </p>

              <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">
                <strong>Trainadores:</strong> {{ deckData.trainers }}
              </p>

              <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">
                <strong>Pokemons:</strong> {{ deckData.pokemons }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isAdding" class="w-full">
    <card-list (finishAdd)="onFinishAdd()" (addCard)="onAddCard($event)" [isAdding]="isAdding"
      [withCache]="false"></card-list>
  </div>

  <div *ngIf="!isAdding" class="w-full">
    <deck-card-list (saveDeck)="onSaveDeck()" (openCardsToAdd)="onOpenCardsToAdd()" (deleteCard)="onDeleteCard($event)"
      [deckData]="deckData"></deck-card-list>
  </div>
</div>
