<div class="w-full flex flex-col p-5 max-w-[1440px] mx-auto h-full">
  <div class="w-full mb-5 flex flex-col md:flex-row justify-between items-center dark:text-white text-black">
    <h1 class=" mb-2 sm:mb-0 font-medium  text-lg">
      Lista de Cartas
    </h1>

    <div *ngIf="isAdding" class=" flex justify-end">
      <button type="button" (click)="onFinishAdd()"
        class="mb-2 sm:mb-0 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700">
        Finalizar adição de Crads
      </button>
    </div>
  </div>

  <div class="card-grid">
    <card [isAdding]="isAdding" class="" *ngFor="let card of cardList.data" [cardData]="card"
      (addCard)="onAddCard($event)"></card>
  </div>

  <div class="mt-5">
    <paginator (next)="onNext()" (previus)="onPrevius()" [page]="cardList.page" [pageSize]="cardList.pageSize"
      [totalCount]="cardList.totalCount"></paginator>
  </div>
</div>