<div
  class=" py-3 flex flex-col items-center w-[297px] bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a [href]="cardData?.images?.small || ''" target="_blank" class="self-center">
    <img class="rounded-t-lgn w-20" [src]="cardData?.images?.small || ''" alt="pokemon card" />
  </a>
  <div class="flex flex-col justify-center items-center">
    <h5 class="mb-2 text-lg font-bold  text-gray-900 dark:text-white">
      {{ cardData?.name }}
    </h5>

    <p class="mb-3 text-sm text-gray-700 dark:text-gray-400">
      SuperType: {{ cardData?.supertype}}
    </p>

    <button *ngIf="isAdding" type="button" (click)="onAddCard()"
      class="mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-xs px-3 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700">
      Adicionar
    </button>
  </div>
</div>